body{
  font-family: arial, sans-serif;
  background: #0A323C;
  margin: 0
}

.topicos{ /* imagem e textos */
  background-image: url(equipamentos.jpg);
  height: 500px;
  background-position: right center;
  background-size: cover;
  border-top: 1px solid transparent;
}

.topicos-content{ /* Itens do menu */
  text-align: center;
  color: white;
  
}

.topicos-content h1{ /* + Segurança EPI */
  text-transform: uppercase;
  font-size: 66px;
  text-shadow: 3px 3px 2px #333;
  
  display: inline-block;
  list-style: none;
  margin-left: 10px;  
  background-color: #00000091;
  padding: 10px;
  
  
}
.topicos-content strong{ /* Simbolo + */  
  color: #0188A7;
}

.topicos-content p{
  background-color: #00000091;
  display: inline-block;
  padding: 10px;
  border-bottom: 2px solid white;
  font-size: 20px;
}

.topicos ul { /* Itens do menu */
  text-align: right;
  margin: 20px 50px 0 0;
}




.card {
  width: 32%;
  float: left;
  border: 2px solid #0a323ce1;
  box-sizing: border-box;
}

.card-1, .card-2, .card-4, .card-5{
  margin-right: 2%;

}
.card-4, .card-5, .card-6{
  padding: 0px;  
  margin-top: 10px;

}
.card img {  
  display: block;
  width: 100%;
  max-width: 360px;
  max-height: 230px ;
  height: 100%;
  object-fit: scale-down;
}
.card p{
  background-color: #0a323ce1;
  color: white;
  margin: 0;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
}

main{
  width: 80%;
  margin: auto;
}

.menu {
  display: inline-block;
  list-style: none;
  margin-left: 10px;  
  border: 1px solid white;
}
.menu a{
  background: #0a323c96;
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px; /* Espaço entre as letras da palavra */
}

.menu a:hover {
  background: #0000004b;
}

.content-section{
  background-color: white;
  padding: 10px;  
  margin-top: 15px;
  overflow: auto;
}

.content-header{
  border-bottom: solid 2px #ccc;
  padding: 10px;
  background: #eee;
}

.content-header h2{
  margin: 0;
}
article p {
  text-align:justify;
  color: black;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.rodape{
  text-align: center;
  color: white;
  height: 10px;
  font-size: 14px;
  text-shadow: 2px 2px 2px black;
  background: #0A323C;
  padding-top: 30px;
}
